.header {
  padding: 5rem 10rem;
  height: 100vh;
  background-image: linear-gradient(
      rgba(rgb(10, 10, 10), 0.7),
      rgba(rgb(10, 10, 10), 0.7)
    ),
    url(../../css/images/hero.jpg);
  background-size: 100%;
  background-attachment: fixed;

  @media only screen and (max-width: $bp-small) {
    padding: 3rem 3rem;
  }
}

.nav__container {
  display: flex;
  align-items: center;
}

.logo__box {
  flex-basis: 50%;
  @media only screen and (max-width: $bp-large) {
    flex-basis: 30%;
  }
}

.logo {
  height: 8rem;
  width: 8rem;
  margin-right: auto;
}
