.btn {
  margin-top: 2rem;
  padding: 1.4rem 3rem;
  font-size: 1.5rem;
  border-radius: 13rem;

  &-color {
    background-color: $color-secondary;
    margin-right: 1rem;
    border: 0.2rem solid transparent;
    color: $base-color;
    transition: all 0.3s;

    &:hover {
      border: 0.2rem solid $base-color;
      background-color: $color-secondary-1;
    }
  }

  &-transparent {
    background-color: transparent;
    border: 0.1rem solid $color-secondary;
    color: $color-secondary;
    transition: all 0.3s;

    &:hover {
      background-color: $color-secondary;
      color: $base-color;
    }
  }

  &-sign {
    text-align: center;
    padding: 2rem 0 !important;
    margin-top: -2rem !important;
  }
}
